@model IEnumerable<Common.UserData>
@inject DataAccess.CacheDataAccess _cache;
@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttachmentUri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @if (string.IsNullOrEmpty(item.AttachmentUri) == false)
                    {
                        <a href="@item.AttachmentUri">Download</a>}
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>

            </tr>
        }
    </tbody>
</table>
